{% extends 'base.html.twig' %}

{% block title %}QuizzUser{% endblock %}

{% block body %}
    <h1>QuizzUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quizz_user.id }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ quizz_user.score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quizz_quizz_user_index') }}">back to list</a>

    <a href="{{ path('app_quizz_quizz_user_edit', {'id': quizz_user.id}) }}">edit</a>

    {{ include('quizz/quizz_user/_delete_form.html.twig') }}
{% endblock %}
