{% extends 'base.html.twig' %}

{% block title %}QuizzCategories index{% endblock %}

{% block body %}
    <h1>QuizzCategories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Nbr de Quizz</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz_category in quizz_categories %}
            <tr>
                <td>{{ quizz_category.id }}</td>
                <td>{{ quizz_category.name }}</td>
                <td>{{ quizz_category.description }}</td>
                <td>{{ nbQuizzs(quizz_category.quizzs) }}</td>
                <td>
                    <a href="{{ path('app_quizz_quizz_categories_show', {'id': quizz_category.id}) }}">show</a>
                    <a href="{{ path('app_quizz_quizz_categories_edit', {'id': quizz_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quizz_quizz_categories_new') }}">Create new</a>
{% endblock %}
