{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Quizz</h1>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{quizz.title}}</h3>
            <h5>Description :</h5>
            <p>{{quizz.description}}</p>
        </div>
    </div>

    {# {% if score is not null %}
        <h1>Résultats du Quizz</h1>
        <p>Votre score est de {{ score }} sur {{ total }}.</p>
        <hr>
    {% endif %} #}

    {# {{dump(quizz)}} #}
    <form method="post">

    {% for index, question in quizz.quizzQuestions %}

        {# {{dump(question)}} #}


        <div class="card my-4">
        <div class="card-header">
            <h5>{{question.question}}</h5>
        </div>

        {% for reponse in question.quizzChoices %}

        {# {{dump(reponse)}} #}


        <ul class="list-group list-group-flush">
            <li class="list-group-item">
            <input type="checkbox" name="answers[{{ index }}][]" value="{{ reponse.id }}">            
            {{reponse.reponse}}</li>
        </ul>

        {% endfor %}

        </div>
    {% endfor %}

        <input type="submit" value="Submit">
    </form>


    <a href="{{ path('app_quizz_front_listequizz', {'id' : quizz.id}) }}" class="btn btn-primary my-3">Retour</a>



{% endblock %}