<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app_backoffice') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app_backoffice') }}
        {% endblock %}
    </head>
    <body id="{{ controller_name|default('')}}">
        <!-- Header -->
        <header class="bg-primary text-white d-flex" style="height: 60px">
            <h1 >Mon Dashboard</h1>
            <button type="button" id="side">X</button>
        </header>

        <div class="d-flex">
            <!-- Sidebar -->
            <nav id="sidebar" class="bg-dark vh-100" style="width: 250px;">
                <div class="p-4">
                    <h2 class="text-white">Menu</h2>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" data-bs-toggle="collapse" href="#submenu1">Quizz</a>
                            <div class="collapse" id="submenu1">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#submenu1-1">Paramétrage</a>
                                        <div class="collapse" id="submenu1-1">
                                            <ul class="nav flex-column ms-3">
                                                <li class="nav-item">
                                                    <a class="nav-link text-white" href="{{ path('app_quizz_quizz_index') }}">Les quizzs</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white" href="{{ path('app_quizz_quizz_categories_index') }}">Les catégories</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white" href="{{ path('app_quizz_json') }}">Importer Json</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#submenu1-2">Utilisateur</a>
                                        <div class="collapse" id="submenu1-2">
                                            <ul class="nav flex-column ms-3">
                                                <li class="nav-item">
                                                    <a class="nav-link text-white" href="#">Item 1-1-1</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white" href="#">Item 1-1-2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Menu 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Menu 3</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Content -->
            <div class="container-fluid p-4">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
